<launch>

  <!-- Location of the map. -->
  <arg
    name = "map_filepath"
    default = "/home/turtlebot/topomap_ws/maps/hfloor.yaml" />

  <!-- Turtlebot. -->
  <include
    file = "$(find vi_turtlebot)/launch/turtlebot.launch" />

  <!-- Map server. -->
  <node
    name = "map_server"
    pkg = "map_server"
    type = "map_server"
    args = "$(arg map_filepath)"
    output = "screen">
  </node>

  <!-- Laser sensor. -->
  <include
    file = "$(find vi_turtlebot)/launch/laser_sensor.launch" />

  <!-- Probabilistic localization. -->
  <node pkg="amcl" type="amcl" name="amcl" output="screen">
    <!-- Publish scans from best pose at a max of 10 Hz -->
    <param name="odom_model_type" value="diff"/>
    <param name="transform_tolerance" value="0.2" />
    <param name="gui_publish_rate" value="10.0"/>
    <param name="laser_max_beams" value="30"/>
    <param name="min_particles" value="2000"/>
    <param name="max_particles" value="10000"/>
    <param name="kld_err" value="0.02"/>
    <param name="kld_z" value="0.99"/>
    <param name="initial_pose_a" value="0.0"/>
    <param name="odom_alpha1" value="0.3"/>
    <param name="odom_alpha2" value="0.5"/>
    <param name="odom_alpha3" value="2.0"/>
    <param name="odom_alpha4" value="1.0"/>
    <param name="laser_model_type" value="likelihood_field"/>
    <param name="laser_likelihood_max_dist" value="3.0"/>
    <param name="update_min_d" value="0.1"/>
    <param name="update_min_a" value="0.2"/>
    <param name="resample_interval" value="1"/>
    <param name="transform_tolerance" value="0.1"/>
    <param name="recovery_alpha_slow" value="0.001"/>
    <param name="recovery_alpha_fast" value="0.1"/>
    <remap from="scan" to="base_scan"/>
  </node>

</launch>
